@font-face {
	font-family: "Product Sans";
	src: url("/fonts/Product Sans Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Product Sans Bold";
	src: url("fonts/Product Sans Bold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	overflow-x: hidden;
	
}
